html {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: #4d2323;
    text-align: center;
    color: #658a6a;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h4 {
    color: #456349;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    background-color: aliceblue;
}

.nav-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    text-decoration: none;
}

.nav-link {
    padding: 0 20px;
    line-height: 50px;
    transition: 0.3s;
    cursor: pointer;
}

.nav-item a {
    color: #829985;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-item a:hover {
    color: #4d2323;
}

.main-container {
    /* display: flex;
    flex-wrap: wrap; */
    display: grid;
    grid-template-columns: 1fr 1fr;
}


/* .section {
    width: 49.5%;
} */

.section__photo--style {
    /* border-radius: 50%; */
}

.section-title {
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #658a6a;
}

.footer__menu--logo {
    height: 100px;
    width: 100px;
}

.link {
    text-decoration: none;
    color: #829985;
    transition: color 0.5s;
}

.link:hover {
    color: #5d7260;
}

.contact-style {
    text-decoration: none;
    color: #37553b;
}

.section li {
    text-decoration: none;
    list-style: none;
    padding-left: 0;
}

.section ul {
    padding-left: 0;
}

.section-title--style {
    padding-top: 50px;
}

.section__contacts {
    text-align: left;
    padding-top: 32px;
}


/* .contact__view {
    text-align: left;
} */

.section {
    padding-top: 20px;
}

.footer__menu {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}

@media (max-width: 768px) {
    .section {
        width: 100%;
    }
}